* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL SETTINGS */

.flex-horizontal {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.primary-color {
  color: #333;
}

main {
  position: relative;
}

.font-small {
  font-size: 12px;
}

.photo-credits {
  color: #8b888b;
  font-family: monospace;
}

.caption-text-color {
  color: #666682;
}

.external-links {
  color: #327aba;
}



.blog-buttons {
  background-color: #567b95;
  color: white;
  margin-top: 5px;
  border: 1px solid blue;
  border-radius: 4px;
  font-weight: bold;
}

/* HEADER */

header {
  justify-content: space-around;
  border-bottom: 1px solid gray;
}

nav ul {
  list-style-type: none;
  margin-top: 15px;
  align-items: center;
}

ul li {
  padding-right: 20px;
}

.logo {
  width: 400px;
  height: 30px;
  margin: 10px 0;
}

.header-buttons button {
  padding: 10px 10px;
}

.third-item-nav {
  font-weight: bold;
}

/* Post-image */

.post-image {
  width: 1000px;
  align-self: center;
}

.post-image h1 {
  padding: 50px 50px 20px 200px;
  text-align: left;
  width: 700px;
  color: #121212;
}

.man-standing {
  width: 100%;
}

figcaption {
  width: 720px;
}

/* POST TEXT */

article {
  width: 700px;
  align-self: center;
  margin-top: 50px;
}

article h4 {
  margin-bottom: 25px;
}

.blog-post-head {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.blog-post-head span {
  font-size: 14px;
}

.blog-post-head i {
  padding-left: 10px;
  font-size: 25px;
}

.blog-text {
  margin-top: 30px;
}

.blog-text p {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

.blog-post-video-div {
  margin: 60px 0;
}

.blog-post-video-div iframe {
  width: 700px;
  height: 400px;
}

.blog-post-video-div p {
  font-size: 16px;
}

.fig-div {
  position: relative;
  margin: 50px 0;
}

.fig-telescope {
  margin-left: -100px;
  margin-top: 40px;
}

.bicep-telescope-image {
  width: 110%;
}

article h3 {
  margin: 30px 0;
}

/* Bottom part of blog post */

.blog-post-bottom {
  font-size: 10px;
  margin: 20px 0;
}

.blog-post-bottom p {
  font-size: 12px;
  margin: 0;
  display: inline;
}

.blog-post-foot {
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.blog-post-foot-icons i {
  padding-left: 10px;
  font-size: 25px;
}

.blog-post-foot-icons {
  float: right;
}

.blog-post-foot button {
  padding: 10px 100px;
  float: left;
}

/* Editor's pick */

aside {
  position: absolute;
  width: 250px;
  right: 70px;
  margin-right: 90px;
}

aside h4 {
  border-bottom: 0.5px solid gray;
  padding-bottom: 20px;
}

.side-picture {
  width: 70px;
  height: 70px;
}

.side-editor p {
  font-size: 15px;
  width: 200px;
  align-self: center;
  padding-left: 10px;
}

.side-editor {
  margin-bottom: 20px;
}

/* Middle image in the article */

.info-graphic {
  width: 1000px;
  align-self: center;
  position: relative;
  margin-top: 100px;
}

.info-graphic img {
  width: 100%;
}

.info-graphic p {
  position: absolute;
  width: 220px;
  font-family: monospace;
  text-align: left;
}

.info-graphic p span {
  font-weight: bold;
  color: black;
}

.top-row {
  top: 150px;
}

.top-two,
.bottom-two {
  left: 270px;
}

.top-three,
.bottom-three {
  left: 510px;
}

.top-four,
.bottom-four {
  right: 20px;
}

.bottom-row {
  bottom: 0;
}

#title-description {
  width: 1000px;
}

.title-info-graphic {
  position: absolute;
  top: -50px;
}

/* MORE ARTICLES SECTION */

section {
  width: 70%;
  padding-top: 30px;
  margin: 0 auto;
  justify-content: center;
}

.more-space-title {
  margin-left: 100px;
}

.grids {
  border-top: 0.5px solid black;
  padding-top: 20px;
}

.more-articles-grid {
  width: 880px;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  border-bottom: 0.5px solid black;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.more-article-single {
  width: 280px;
}

.more-article-single figure img {
  width: 100%;
  height: 150px;
}

.more-article-single figure figcaption {
  text-align: right;
  width: 280px;
  font-size: 10px;
  padding-bottom: 10px;
}

.more-articles-grid-bottom {
  width: 880px;
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.more-article-single h6 {
  font-family: monospace;
  color: #8b888b;
  margin-top: 5px;
}

/* MOST POPULAR SIDE BAR */

.more-popular-div p {
  border-top: 0.5px solid rgb(226, 226, 226);
  padding: 15px 0;
}

.most-popular-side-bar {
  border-top: 0.5px solid black;
  width: 400px;
  padding: 25px 0 0 0;
  margin-left: 25px;
}

.most-popular-side-bar h4 {
  padding-bottom: 20px;
}

/* FOOTER */

footer {
  width: 70%;
  border-top: 4px double gray;
  margin: 50px auto;
}

.footer-head {
  justify-content: space-between;
  align-items: center;
}

.footer-head-image {
  width: 200px;
  height: auto;
  margin: 10px 0;
}

.footer-head a {
  padding-top: 10px;
  text-decoration: none;
  color: #5ba4da;
}

.footer-list {
  width: 100%;
  justify-content: space-between;
}

.subscribe-div {
  border-left: 1px solid gray;
  padding-left: 15px;
}

.subscribe-line {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.footer-list h4 {
  margin: 10px 0;
  font-weight: bold;
}

.footer-list p {
  padding-top: 10px;
}

.subscribe-div div p {
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subscribe-div div i {
  padding-right: 5px;
}

.footer-bottom {
  justify-content: space-between;
  padding: 20px 70px;
  border-top: 1px solid grey;
  margin: 20px 0;
}

.footer-bottom a {
  font-size: 10px;
  text-decoration: none;
  color: grey;
}

/* HOVER EFFECTS */

.external-links:hover {
  text-decoration: none;
}

nav ul:hover {
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

.third-item-nav:hover {
  text-decoration: underline;
}

article h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.blog-post-head i:hover {
  color: #8b888b;
  cursor: pointer;
}

.blog-post-bottom span {
  text-decoration: underline;
}

.blog-post-bottom span:hover {
  text-decoration: none;
  cursor: pointer;
}

.blog-post-foot-icons i:hover {
  cursor: pointer;
  color: #8b888b;
}

.blog-post-foot button:hover {
  cursor: pointer;
}

.header-buttons button:hover {
  cursor: pointer;
}

.more-article-single:hover {
  cursor: pointer;
}

.more-article-single h4:hover {
  color: #8b888b;
}

.more-popular-div p:hover {
  color: #8b888b;
  cursor: pointer;
}

.footer-list h4:hover {
  cursor: auto;
}

.footer-list p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
