* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* GLOBAL SETTINGS */
  
  .flex-horizontal {
    display: flex;
  }
  
  .flex-vertical {
    display: flex;
    flex-direction: column;
  }

  main {
    position: relative;
  }
  
  
  /* HEADER */
  
  header {
    justify-content: space-around;
    border-bottom: 1px solid gray;
  }
  
  nav ul {
    list-style-type: none;
    margin-top: 15px;
    align-items: center;
  }
  
  nav ul:hover {
    cursor: pointer;
  }
  
  ul li {
    padding-right: 20px;
  }
  
  .logo {
    width: 400px;
    height: 30px;
    margin: 10px 0;
  }
  
  .header-buttons button {
    padding: 10px 10px;
    background-color: #567b95;
    color: white;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 4px;
    font-weight: bold;
  }
  .header-buttons button:hover {
    cursor: pointer;
  }
  
  .third-item-nav {
    font-weight: bold;
  }
  
  .third-item-nav:hover {
    text-decoration: underline;
  }

  /* Post-image */

  .post-image {
    width: 1000px;
    align-self: center;
  }

  .post-image h1 {
      padding: 50px 50px 20px 200px;
      text-align: left;
      width: 700px;
      
  }

  .man-standing {
      width: 100%;
  }

  figcaption {
      width: 720px;
  }


  /* POST TEXT */


  article {
    width: 700px;
    align-self: center;
    margin-top: 50px;
  }

  article h4 {
    margin-bottom: 25px;
  }

  .blog-post-head {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .blog-post-head span {
    font-size: 14px;
  }

  .blog-post-head i {
    padding-left: 10px;
    font-size: 25px;
  }

  .blog-text {
    margin-top: 30px;
    
  }

  .blog-text p {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
  }

  .blog-post-video-div {
    margin: 60px 0;
  }

.blog-post-video-div iframe {
    width: 700px;
    height: 400px;
  }

.fig-div {
  position: relative;
  margin: 50px 0;
}

.fig-telescope {
  margin-left: -100px;
  margin-top: 40px 0;
}
.bicep-telescope-image {
    width: 110%;
  }

  article h3 {
    margin: 30px 0;
  }

  /* Bottom part of blog post */

  .blog-post-bottom {
    font-size: 10px;
    margin: 20px 0;
  }

  .blog-post-bottom p {
    font-size: 12px;
    margin: 0;
    display: inline;
  }

  .blog-post-bottom span {
    text-decoration: underline;
  }

 .blog-post-foot {
   margin: 20px 0;
   justify-content: space-between;
   align-items: center;
 }

 .blog-post-foot i {
    padding-left: 10px;
    font-size: 25px;
 }

 .blog-post-foot button {
  padding: 10px 100px;
  background-color: #567b95;
  color: white;
  margin-top: 5px;
  border: 1px solid blue;
  border-radius: 4px;
  font-weight: bold;
 }



  

  /* Editor's pick */

  aside {
      position: absolute;
      width: 250px;
      right: 40px;
      margin-left: 50px;
  }

  aside h4 {
      border-bottom: 0.5px solid gray;
      padding-bottom: 20px;
  }

  .side-picture {
      width: 70px;
      height: 70px;
  }

  .side-editor p {
      font-size: 14px;
      width: 150px;
      align-self: center;
      padding-left: 10px;
  }

  /* Middle image in the article */

  .info-graphic {
      width: 1000px;
      align-self: center;
      position: relative;
      margin-top: 100px;
  }

  .info-graphic img {
      width: 100%;
  }

  .info-graphic p {
      position: absolute;
      width: 200px;
      font-family: monospace;
      font-size: 12px;
      text-align: left;
  }

.top-row {
  top: 150px;
 }

 .top-two,
 .bottom-two {
      left:270px;
  }

 .top-three,
 .bottom-three {
    left:540px;
}

.top-four,
.bottom-four {
    right:0;
}

.bottom-row {
    bottom: 0;
}

#title-description {
    
    width: 1000px;
}
.title-info-graphic {
    position: absolute;
    top: -50px;
}


/* MORE ARTICLES SECTION */

section {
    margin-left: 40px;
   
    padding-top: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;   
}

.more-space-title {
  margin-left: 100px;
}

.grids {
  border-top: 0.5px solid black;
  padding-top: 20px;
}


.more-articles-grid {
    width: 960px;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
   
    border-bottom: 0.5px solid black;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.more-article-single {
    width: 320px;
}

.more-article-single figure img {
    width: 100%;
    height: 150px;
}

.more-articles-grid-bottom {
  width: 960px;
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 1fr;
  grid-gap: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;    
}


/* MOST POPULAR SIDE BAR */


.more-popular-div p {
    border-top: 0.5px solid black;
    padding: 15px 0;
}

.most-popular-side-bar {
  border-top: 0.5px solid black;
  width: 400px;
  padding: 25px 0 0 50px;
  margin: 0 50px;
  margin-bottom: 250px;
}

.most-popular-side-bar h4 {

  padding-bottom: 20px;
}




/* FOOTER */

footer{
   width: 60%;
   border-top: 3px solid gray;
   margin: 50px auto;
}

.footer-head {
  justify-content: space-between;
  align-items: center;
}

.footer-head img {
  width: 200px;
  height: auto;
  margin: 10px 0;
}

.footer-head a {
  padding-top: 10px;
  font-size: 10px;
}

.footer-list {
  width: 100%;
  justify-content: space-between;
}


.subscribe-div {
  border-left: 1px solid gray;
  padding-left: 15px;
}

.subscribe-line {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.footer-list h4 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 12px;
}

.footer-list h4:hover {
 cursor: auto;
}

.footer-list p {
  padding-top: 10px;
  font-size: 12px;
}

.footer-list p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.subscribe-div div p{
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subscribe-div div i {
  padding-right: 5px;
}

.footer-bottom {
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid grey;
  margin: 20px 0;
}

.footer-bottom a {
  font-size: 10px;
  text-decoration: none;
  color: grey;
}

.footer-bottom a:hover {
  text-decoration: underline;
}