* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /* GLOBAL SETTINGS */
  
  .flex-horizontal {
    display: flex;
  }
  
  .flex-vertical {
    display: flex;
    flex-direction: column;
  }
  
  
  /* HEADER */
  
  header {
    justify-content: space-around;
    border-bottom: 1px solid gray;
  }
  
  nav ul {
    list-style-type: none;
    margin-top: 15px;
    align-items: center;
  }
  
  nav ul:hover {
    cursor: pointer;
  }
  
  ul li {
    padding-right: 20px;
  }
  
  .logo {
    width: 400px;
    height: 30px;
    margin: 10px 0;
  }
  
  .header-buttons button {
    padding: 10px 10px;
    background-color: #567b95;
    color: white;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 4px;
    font-weight: bold;
  }
  .header-buttons button:hover {
    cursor: pointer;
  }
  
  .third-item-nav {
    font-weight: bold;
  }
  
  .third-item-nav:hover {
    text-decoration: underline;
  }

  /* Post-image */

  .post-image {
    width: 1000px;
    align-self: center;
  }

  .post-image h1 {
      padding: 50px 50px 20px 200px;
      text-align: left;
      width: 700px;
      
  }

  .man-standing {
      width: 100%;
  }

  figcaption {
      width: 720px;
  }


  /* POST TEXT */


  article {
    width: 700px;
    align-self: center;
    margin-top: 50px;
  }

  article h4 {
    margin-bottom: 25px;
  }

  .blog-post-head {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .blog-post-head span {
    font-size: 14px;
  }

  .blog-post-head i {
    padding-left: 10px;
    font-size: 25px;
  }

  .blog-text {
    margin-top: 30px;
  }

  .blog-text p {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
  }